---
import Layout from "../../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const events = await getCollection("events");

  return events.map((event) => ({
    params: { slug: event.slug },
    props: { event },
  }));
}
interface Props {
  event: CollectionEntry<"events">;
}
const { event } = Astro.props;
const { Content } = await event.render();
---

<Layout
  title={event.data.title}
  description={event.data.description}
  og_title={event.data.title}
  og_description={event.data.description}
  og_type="article"
>
  <article class="prose mx-auto flex w-full max-w-prose flex-col gap-4 text-white">
    <h1 class="mb-0 text-white">
      {event.data.title}
    </h1>
    <p class="mt-0 mb-1">{event.data.description}</p>
    <div class="divider m-1"></div>
    <Content />
  </article>
</Layout>
